.background-lightpink {
    background-color: rgb(254, 250, 239);
}

.background-blue {
    background-color: rgb(39, 53, 92);
    border-color: rgb(39, 53, 92);
    color: white;

}

.background-lightgray {
    background-color: rgb(247, 247, 247);

}

.bg-success {
    color: white;

    --bs-bg-opacity: 0.8;
}

.bg-danger {
    color: white;

    --bs-bg-opacity: 0.8;
}

.container-quiz {
    display: flex;
    justify-content: center;
}

.card-quiz {
    width: 28em;
}

.footer-quiz {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.4px solid rgba(0, 0, 0, 0.2);
}

.img_card {
    height: 13em;
    object-fit: cover;
}

.answer-quiz:hover {
    cursor: pointer;
    background-color: rgba(39, 53, 92, 0.1);

}

.img-fluid {
    max-width: 25%;
}

.navbar {
    min-height: 74px;
    
}
.logo-new{
position: absolute;
top: 8px;
height: 80px;
overflow: auto;
width: auto;
margin-left: -60px;
}

.ajusted{
flex-flow: row-reverse;

}

.card-body {
        padding: 0.6rem;
}

.img_end_card {
    height: 20em;
}

.center-button{
    display: flex;
    justify-content: center;
    margin-top: 16px;

}